npl_packages/
Mod/
build/
bin/
temp/
fonts/
Database/
*.txt
!config.txt
*.log
worlds/DesignHouse/*
!worlds/DesignHouse/test
.vs/
*.zip
/Database
/*.so
/worlds/BlockTextures
!assets_manifest.txt
